@import "bootstrap/scss/bootstrap";
@import "_popcorn";

.cinema {
	background-image: url(/theater-8569119_1280.jpg);
	min-height: 100vh;

}

.cinema-short {
	background-image: url(/theater-8569119_1280.jpg);
	color: white;

}

.hero {
	background-color: black;
}

.picture-in-card {
	width: 40vh;
	height: 40vh;
	object-fit: cover;
	border-radius: 5%;
	margin-bottom: 1rem;
}

.picture-in-card-sm {
	width: 10vh;
	height: 10vh;
	object-fit: cover;
	border-radius: 50%;
	margin-bottom: 1rem;
}

.tagline {
	font-family: "Vesper Libre", serif;
	font-size: x-large;
}

.tagline-sm {
	font-family: "Vesper Libre", serif;
	font-size: medium;
}

.roling-div {
	width: 100%;
	height: 400px;
	overflow: scroll;
		&:hover {
			overflow: auto;
			cursor: grab;
	}
}

.movie-link {
	color: darkred;

	&:hover {
		color: darkgray;
	}

	&:after {
		color: lightcoral
	}
}

.no-spacer {
    --bs-card-spacer-y: 0 !important;
    --bs-card-spacer-x: 0 !important;
}

